<div class="page-header">
  <button (click)="open(mymodal)" type="button" class="btn btn-primary mr-2">
    Add Customer
  </button>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Add Customer
    </h4>
    <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="customerForm" *ngIf="customerForm" class="pt-3">
      <div class="form-group">
        <!-- <input formControlName="name" type="text" class="form-control form-control-lg" placeholder="Name*" />
       
        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert btn-danger">
          <span>Name is required!</span>
        </div> -->





        <input type="text" id="name" name="name" formControlName="name" placeholder="Name" required minlength="3" maxlength="25" class="form-control form-control-lg"  [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
          <div *ngIf="name.errors?.['required']">
            This field is required.
          </div>
          <div *ngIf="name.errors?.['minlength']">
            This field must have at least 1 character.
          </div>
          <div *ngIf="name.errors?.['maxlength']">
            This field must have at most 250 characters.
          </div>
        </div>
     

      </div>
      <div class="form-group">
        <input formControlName="code" type="text" class="form-control form-control-lg" placeholder="Code" [class.is-invalid]="code.invalid && (code.dirty || code.touched)" />
        <div *ngIf="code.invalid && (code.dirty || code.touched)" class="invalid-feedback">
          <div *ngIf="code.errors?.['maxlength']">
            This field must have at most 10 characters.
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary mr-2" [disabled]="customerForm.invalid" (click)="addNewCustomer()">
      Create
    </button>


    <button (click)="modal.close('Save click')" type="reset" data-dismiss="modal" class="btn btn-danger">
      Cancel
    </button>
  </div>
</ng-template>