<li *ngIf="item">
  <a (click)="onItemSelected(item)" class="dropdown-toggle">
    <!-- <i class="menu-icon fa fa-cogs"></i> -->
    <span class="menu-name">{{item.displayName}}</span>
    <i class="fa fa-chevron-down" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'" *ngIf="item.children && item.children.length">
    </i>
  </a>
</li>
<ul class="sub-menu children" *ngIf="expanded" style="padding-left: 30px">
  <app-nav-menu *ngFor="let child of item.children" [item]="child" [ngClass]="{'menu-item-has-children dropdown': child && child.children.length > 0, 'menu-item-parent': child && child.children.length == 0}"></app-nav-menu>
</ul>

