/* Auth */

.auth {
	.lock-profile-img {
		width: 90px;
		height: 90px;
		border-radius: 100%;
	}
	.auth-form-light {
		background: $white;
		select {
			color: $input-placeholder-color;
		}
		.input-group {
			.form-control {
				&:focus,
				&:active {
					border-color: $border-color;
				}
			}
		}
	}
	.brand-logo {
		margin-bottom: 2rem;
		text-align:center;
		img {
			max-width:10rem;
		}
	}
	form {
		.form-group {
			margin-bottom: 1.5rem;
			label {
				font-size: .8125rem;
			}
			.form-control {
				background: transparent;
				border-radius: 0;
				font-size: .9375rem;
			}
		}
		.auth-form-btn {
			padding: 1rem 3rem;
			line-height: 1.5;
			max-width: 100%;
		}
		.auth-link {
			font-size: $default-font-size;
			float: right;
			&:hover {
				color: initial;
			}
		}
	}
}

.logWrapper {
    width: calc(100% + 5rem);
    display: flex;
    margin: -2.75rem 0 -2.75rem -2.75rem;
	min-height: 100vh;
	.sideArt {
		flex: 1;
		padding: 3rem;
		background: url('../../../images/regBg.png')no-repeat;
		background-size:cover ;
		background-position: center bottom;
		.regLogo {
			max-width: 180px;
		}
		.sideBanner {
			width: 100%;
			text-align: center;
			display: inline-block;
			margin: 50px 0;
			img {
				max-width: 400px;
				width: 100%;
			}
		}
	}
	.sideForm {
		width: 40%;
		padding: 0.5rem 5rem 2.75rem;
		background: #fff;
		box-shadow: -5px 0 10px 0 #00000010;
		min-width: 530px;
		.logBtnRight {
			text-align: right;
			width: 100%;
			display: inline-block;
			margin-bottom: 3rem;
			.btn {
				margin-left: 10px;
			}
		}
		.form-check-input{
			width: 18px;
			height: 18px;
			vertical-align: middle;
			margin-right: 5px;
		}
		h2 {
			font-weight: bold;
			margin-bottom: 0.8rem;
			font-size: 1.9rem;
		}
		h4 {
			color: #777;
			margin-bottom: 3rem;
		}
		.regBtn {
			margin-top: 2rem;
			display: flex;
			.btn{
				flex:1;
			}
		}
		.auth-link {
			font-size: $default-font-size;
			float: right;
			&:hover {
				color: initial;
			}
		}
		.regBtnback {
			font-size: 2rem;
			margin-left: -30px;
			margin-bottom: 4rem;
		}
	}
}
