<div class="row">
  <mat-tab-group animationDuration="0ms" style="width: 100%;" [(selectedIndex)]="tabIndex" >
  <mat-tab [label]="action + ' Job'">
   <div class="modal-body">
  <form [formGroup]="jobForm" *ngIf="jobForm" class="pt-3"
  #frmjob="ngForm">
    <div class="container">
      <div class="row">
        <div class="col-md form-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Job Description</mat-label>
            <input matInput #Description maxlength="256" type="text" placeholder="Description" required formControlName="description">
            <mat-hint align="start"><strong>Enter Job Description</strong> </mat-hint>
            <mat-hint align="end">{{Description.value.length}}/256</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md form-group">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Customer</mat-label>
                <mat-select matInput  name="customer" required formControlName="customerId" (change)="changeCustomer($event)">
                    <mat-option *ngFor = "let cust of customers" [value]="cust.id">
                        {{cust.name}}
                    </mat-option>
                </mat-select>    
        </mat-form-field>
        </div>


        <div class="col-md form-group">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Team</mat-label>
                <mat-select required formControlName="teamId" (change)="changeTeam($event)">
                    <mat-option *ngFor="let team of teams" [value]="team.id" >
                        {{team.name}}
                    </mat-option>
                </mat-select>    
        </mat-form-field>
        </div>


        <div class="col-md form-group">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Resource</mat-label>
                <mat-select required formControlName="resourceId" (change)="changeResource($event)">
                    <mat-option *ngFor="let data of resources" [value]="data.id">
                        {{data.name}}
                    </mat-option>
                </mat-select>    
        </mat-form-field>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md form-group">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Division</mat-label>
                <mat-select required formControlName="divisionID" (change)="changeDivision($event)">
                    <mat-option *ngFor="let data of divisions" [value]="data.id">
                        {{data.name}}
                    </mat-option>
                </mat-select>    
        </mat-form-field>
        </div>
        <div class="col-md form-group">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Job Asset</mat-label>
                <mat-select required formControlName="jobAssetID" (change)="changeJobAsset($event)">
                    <mat-option *ngFor="let data of assets" [value]="data.id">
                        {{data.name}}
                    </mat-option>
                </mat-select>    
        </mat-form-field>
        </div>

        <div class="col-md form-group">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Job Issue Type</mat-label>
                <mat-select required formControlName="jobIssueTypeID" (change)="changeJobIssueType($event)">
                    <mat-option *ngFor="let data of types" [value]="data.id">
                        {{data.name}}
                    </mat-option>
                </mat-select>    
        </mat-form-field>
        </div>
        <div class="col-md form-group">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Job Priority</mat-label>
                <mat-select required formControlName="jobPriorityID" (change)="changeJobPriority($event)">
                    <mat-option *ngFor="let data of priority" [value]="data.id">
                        {{data.name}}
                    </mat-option>
                </mat-select>    
        </mat-form-field>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
      
        <div class="col-md form-group">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Job Source</mat-label>
                <mat-select required formControlName="jobSourceID" (change)="changeJobSource($event)">
                    <mat-option *ngFor="let data of sources" [value]="data.id">
                        {{data.name}}
                    </mat-option>
                </mat-select>    
        </mat-form-field>
        </div>
        <div class="col-md form-group">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Job Progress Status</mat-label>
                <mat-select required formControlName="jobProgressStatusID" (change)="changeJobProgressStatus($event)">
                    <mat-option *ngFor="let data of progress" [value]="data.id">
                        {{data.name}}
                    </mat-option>
                </mat-select>    
        </mat-form-field>
        </div>
        <div class="col-md form-group">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Job Type</mat-label>
                <mat-select required formControlName="jobTypeID" (change)="changeJobType($event)">
                    <mat-option *ngFor="let data of jobtypes" [value]="data.id">
                        {{data.name}}
                    </mat-option>
                </mat-select>    
        </mat-form-field>
        </div>
        <div class="col-md form-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>External RefNo</mat-label>
            <input matInput placeholder="External RefNo" required formControlName="externalRefNo">
          </mat-form-field>
        </div>       
      </div>
    </div> 
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-3">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput formControlName="dateOpend" readonly required [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Due Date</mat-label>
            <input matInput readonly [matDatepicker]="enddatepicker" required formControlName="dateDue">
            <mat-datepicker-toggle matSuffix [for]="enddatepicker">
            </mat-datepicker-toggle>
            <mat-datepicker #enddatepicker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="col-md-3">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Closed Date</mat-label>
            <input matInput formControlName="dateClosed" readonly [required]="JobID ? true: false" [matDatepicker]="dateClosedPicker">
            <mat-datepicker-toggle matSuffix [for]="dateClosedPicker">
            </mat-datepicker-toggle>
            <mat-datepicker #dateClosedPicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-2">
        <!-- <button (click)="AddTask(row)" class="btn btn-success">
          Add Task 
        </button> -->

        <button type="button" class="btn btn-primary btn-sm mr-2" (click)="AddTask()">
          Add Task
        </button>
       

        </div>





        <!-- <div formArrayName="jobTask">
          <div *ngFor="let task of jobTasks().controls; let taskIndex=index">
            <div [formGroupName]="taskIndex">
              <div class="container">
                <div class="row">

              <div class="col-md-3">
                <mat-form-field class="wid-100">
                  <mat-label>Start Date</mat-label>
                  <input matInput formControlName="dateOpend" readonly [matDatepicker]="taskPicker">
                  <mat-datepicker-toggle matSuffix [for]="taskPicker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #taskPicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-2">          
              <select formControlName="jobProgressStatusID" class="form-control form-control-sm" (change)="changeJobProgressStatus($event)">
                <option value="" disabled selected>Select Job Progress Status</option>
                <option *ngFor="let data of progress" [value]="data.id" class="form-control form-control-sm">
                  {{ data.name }}
                </option>
              </select>
              </div>
              <div class="col-md-2">
              <input type="text" formControlName="description" placeholder="Description" class="form-control form-control-sm" /> 
            </div>

            <div class="col-md-3">
              <input type="text" formControlName="status" placeholder="Status i.e true or false" class="form-control form-control-sm" /> 
</div>
              <div class="col-md-2">
                <button (click)="removeJobTask(taskIndex)">
                Remove
              </button>
           
              </div>
              </div>
              </div>
            </div>
            <br><br>
          </div>
        </div> -->

  </div>
      </div>
<div>
  
</div>   
  </form>
</div>
<div class="p-3 mt-4" [hidden]="taskDataSource.data.length < 1">
  <div class="container">
    <h3>Tasks</h3>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-table [dataSource]="taskDataSource" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index"> {{row.id ? row.id : i}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
           Description
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.description }} </mat-cell>
        </ng-container>
       
        <ng-container matColumnDef="dateOpend">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Open Date
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.dateOpend | date }} </mat-cell>
        </ng-container>
    
        
        <ng-container matColumnDef="dateDue">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Due Date
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.dateDue | date }} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="dateClosed">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Close Date
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.dateClosed | date }} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <th mat-cell *matCellDef="let row; let i=index">
            <button (click)="editTask(row,i)" class="btn btn-primary">
              <i class="mdi mdi-account-plus"></i>
            </button>
            <button (click)="deleteTask(row,i)" class="btn btn-danger text-white">
              <i class="mdi mdi-delete me-2"></i>
            </button>
          </th>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="taskDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: taskDisplayedColumns"> </mat-row>
      </mat-table>
    
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
</mat-tab>
<!-- <mat-tab label="Task">
<div>
  Add Job Task here 
</div>
</mat-tab> -->



</mat-tab-group>
<div class="modal-footer">
  <button type="submit" [disabled]="jobForm?.invalid" class="btn btn-primary mr-2" (click)="saveJob()">
    {{action}}
  </button>
  <!-- <button class="btn btn-info " type="button" [disabled]="jobForm.invalid" 
  (click)="Task('next');">Save Next</button> -->
  <button (click)="Cancel()" type="reset" data-dismiss="modal" class="btn btn-danger">
    Cancel
  </button>
</div>
  
</div>
