<div class="logWrapper">
  <div class="sideArt">
   <img src="/assets/images/logo.svg" class="regLogo" alt="Logo"/>
   <div class="sideBanner">
    <img src="../../../assets/images/regBanner.svg" alt="Logo"/>
   </div>
  </div>
  <div class="sideForm">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="pt-3">
        
      <div class="regBtnback">
       <a routerLink="/user-pages/register" class="text-black"><i class="mdi mdi-arrow-left"></i></a>
      </div>
      <h2>Sign in </h2>

        <div class="form-group mt-4" >
         <input  formControlName="email"
          type="email" 
          class="form-control form-control-lg"                 
          placeholder="Username">
       </div>
       <div class="form-group">
         <input formControlName="password" 
         type="password" 
         class="form-control form-control-lg" 
          placeholder="Password">
       </div>
       <div class="form-group">
        <label class="form-check-label text-muted">
          <input type="checkbox" class="form-check-input">
          <i class="input-helper"></i>
          Keep me signed in
        </label>
        <a href="javascript:(void)" class="auth-link text-black">Forgot password?</a>
       </div>
       <div class="regBtn">
        <button type="submit" class="btn  btn-primary">SIGN IN</button>
       </div> 
     </form>

  </div>
</div>

 



  
