<div class="page-header">
  <button (click)="open(mymodal)" type="button" class="btn btn-primary mr-2">
    Add Job
  </button>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Job</h4>
    <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="jobForm" *ngIf="jobForm" class="pt-3">
      <div class="container">
        <div class="row">
          <div class="col-md form-group">
            <label>Description Name*</label>
            <input formControlName="description" type="text" class="form-control form-control-sm"
              placeholder="Description" />
          </div>
          <div class="col-md form-group">
            <label>Customer Name*</label>
            <select formControlName="customerId" class="form-control form-control-sm" (change)="changeCustomer($event)">
              <option value="" disabled selected>Select Customer</option>
              <option *ngFor="let cust of customers" [value]="cust.id" class="form-control form-control-sm">
                {{ cust.name }}
              </option>
            </select>
            <div *ngIf="f.customerId.touched && f.customerId.invalid" class="alert alert-danger">
              <div *ngIf="f.customerId.errors.required">
                Customer Name is required.
              </div>
            </div>
          </div>


          <div class="col-md form-group">
            <label>Team Name*</label>
            <select formControlName="teamId" class="form-control form-control-sm" (change)="changeTeam($event)">
              <option value="" disabled selected>Select Team</option>
              <option *ngFor="let team of teams" [value]="team.id" class="form-control form-control-sm">
                {{team.name}}
              </option>
            </select>
            <div *ngIf="f.teamId.touched && f.teamId.invalid" class="alert alert-danger">
              <div *ngIf="f.teamId.errors.required">Team Name is required.</div>
            </div>
          </div>
  
  
          <div class="col-md form-group">
            <label>Resource Name*</label>
            <select formControlName="resourceId" class="form-control form-control-sm" (change)="changeResource($event)">
              <option value="" disabled selected>Select Resource</option>
              <option *ngFor="let data of resources" [value]="data.id" class="form-control form-control-sm">
                {{data.name}}
              </option>
            </select>
            <div *ngIf="f.resourceId.touched && f.resourceId.invalid" class="alert alert-danger">
              <div *ngIf="f.resourceId.errors.required">Resource Name is required.</div>
            </div>
          </div>
          <!-- <div class="col-md form-group">
            <label>Team Name*</label>
            <select formControlName="teamId" class="form-control form-control-sm" (change)="changeTeam($event)">
              <option value="" disabled selected>Select Team</option>
              <option *ngFor="let team of teams" [value]="team.id" class="form-control form-control-sm">
                {{ team.name }}
              </option>
            </select>
            <div *ngIf="f.teamId.touched && f.teamId.invalid" class="alert alert-danger">
              <div *ngIf="f.teamId.errors.required">Team Name is required.</div>
            </div>
          </div>

          <div class="col-md form-group">
            <label>Resource Name*</label>
            <select formControlName="resourceId" class="form-control form-control-sm" (change)="changeResource($event)">
              <option value="" disabled selected>Select Resource</option>
              <option *ngFor="let data of resources" [value]="data.id" class="form-control form-control-sm">
                {{ data.name }}
              </option>
            </select>
            <div *ngIf="f.resourceId.touched && f.resourceId.invalid" class="alert alert-danger">
              <div *ngIf="f.resourceId.errors.required">
                Resource Name is required.
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md form-group">
            <label>Division Name*</label>
            <select formControlName="divisionID" class="form-control form-control-sm" (change)="changeDivision($event)">
              <option value="" disabled selected>Select Division</option>
              <option *ngFor="let data of divisions" [value]="data.id" class="form-control form-control-sm">
                {{ data.name }}
              </option>
            </select>
            <div *ngIf="f.divisionID.touched && f.divisionID.invalid" class="alert alert-danger">
              <div *ngIf="f.divisionID.errors.required">
                Division Name is required.
              </div>
            </div>
          </div>
          <div class="col-md form-group">
            <label>jobAsset Name*</label>
            <select formControlName="jobAssetID" class="form-control form-control-sm" (change)="changeJobAsset($event)">
              <option value="" disabled selected>Select jobAsset</option>
              <option *ngFor="let data of assets" [value]="data.id" class="form-control form-control-sm">
                {{ data.name }}
              </option>
            </select>
            <div *ngIf="f.jobAssetID.touched && f.jobAssetID.invalid" class="alert alert-danger">
              <div *ngIf="f.jobAssetID.errors.required">jobAsset Name is required.</div>
            </div>
          </div>

          <div class="col-md form-group">
            <label>jobIssueType Name*</label>
            <select formControlName="jobIssueTypeID" class="form-control form-control-sm" (change)="changeJobIssueType($event)">
              <option value="" disabled selected>Select jobIssueType</option>
              <option *ngFor="let data of types" [value]="data.id" class="form-control form-control-sm">
                {{ data.name }}
              </option>
            </select>
            <div *ngIf="f.jobIssueTypeID.touched && f.jobIssueTypeID.invalid" class="alert alert-danger">
              <div *ngIf="f.jobIssueTypeID.errors.required">
                jobIssueType Name is required.
              </div>
            </div>
          </div>
          <div class="col-md form-group">
            <label>jobPriority Name*</label>
            <select formControlName="jobPriorityID" class="form-control form-control-sm" (change)="changeJobPriority($event)">
              <option value="" disabled selected>Select jobPriority</option>
              <option *ngFor="let data of priority" [value]="data.id" class="form-control form-control-sm">
                {{ data.name }}
              </option>
            </select>
            <div *ngIf="f.jobPriorityID.touched && f.jobPriorityID.invalid" class="alert alert-danger">
              <div *ngIf="f.jobPriorityID.errors.required">
                jobPriority Name is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
        
          <div class="col-md form-group">
            <label>jobSource Name*</label>
            <select formControlName="jobSourceID" class="form-control form-control-sm" (change)="changeJobSource($event)">
              <option value="" disabled selected>Select jobSource</option>
              <option *ngFor="let data of sources" [value]="data.id" class="form-control form-control-sm">
                {{ data.name }}
              </option>
            </select>
            <div *ngIf="f.jobSourceID.touched && f.jobSourceID.invalid" class="alert alert-danger">
              <div *ngIf="f.jobSourceID.errors.required">
                jobSource Name is required.
              </div>
            </div>
          </div>
          <div class="col-md form-group">
            <label>jobProgressStatus Name*</label>
            <select formControlName="teamId" class="form-control form-control-sm" (change)="changeJobProgressStatus($event)">
              <option value="" disabled selected>Select jobProgressStatus</option>
              <option *ngFor="let data of progress" [value]="data.id" class="form-control form-control-sm">
                {{ data.name }}
              </option>
            </select>
            <div *ngIf="f.jobProgressStatusID.touched && f.jobProgressStatusID.invalid" class="alert alert-danger">
              <div *ngIf="f.jobProgressStatusID.errors.required">jobProgressStatus Name is required.</div>
            </div>
          </div>

          <!-- <div class="col-md form-group">
            <label>Resource Name*</label>
            <select formControlName="resourceId" class="form-control form-control-sm" (change)="changeResource($event)">
              <option value="" disabled selected>Select Resource</option>
              <option *ngFor="let data of resources" [value]="data.id" class="form-control form-control-sm">
                {{ data.name }}
              </option>
            </select>
            <div *ngIf="f.resourceId.touched && f.resourceId.invalid" class="alert alert-danger">
              <div *ngIf="f.resourceId.errors.required">
                Resource Name is required.
              </div>
            </div>
          </div>
           -->
        </div>
      </div> 
    

      <div class="container">
        <div class="row">
        
          <div class="col-md form-group">
            <label>jobTask*</label>
            <input formControlName="jobTask" type="text" class="form-control form-control-sm"
              placeholder="jobTask" />
          </div>

          <div class="col-md form-group">
            <label>jobDocument*</label>
            <input formControlName="jobDocument" type="text" class="form-control form-control-sm"
              placeholder="jobDocument" />
          </div>

          <div class="col-md form-group">
            <label>resourceJobCost*</label>
            <input formControlName="resourceJobCost" type="text" class="form-control form-control-sm"
              placeholder="resourceJobCost" />
          </div>

          
          <div class="col-md form-group">
            <label>externalRefNo*</label>
            <input formControlName="externalRefNo" type="text" class="form-control form-control-sm"
              placeholder="externalRefNo" />
          </div>


        </div>
      </div> 
    
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary mr-2" (click)="addNewJob()" [disabled]="jobForm.invalid">
      Create
    </button>

    <button (click)="modal.close('Save click')" type="reset" data-dismiss="modal" class="btn btn-danger">
      Cancel
    </button>
  </div>
</ng-template>