<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ng-container *ngIf="currentUser$ | async">
    <div class="container">  
     <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="javascript:;" class="nav-link">
          <div class="nav-profile-image">
            <img src="assets/images/faces/avtar.png" alt="profile">
            <span class="login-status online"></span>
          </div>
          <div class="nav-profile-text">
            <span class="font-weight-bold mb-2"> {{(currentUser$ | async)?.displayName}} </span>
            <span class="text-secondary text-small">Admin</span>
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
     
      <!-- <li class="nav-item" ngbDropdown *ngFor="let item of navItems">
        <a class="nav-link" [routerLink]="[item.menuURL]" routerLinkActive #Customer="routerLinkActive">
          <span class="menu-title">{{item.displayName}} </span></a>
        <ul class="dropdown-menu" *ngIf="item.children" ngbDropdownMenu>
          <li class="nav-item" *ngFor="let item1 of item.children" >
            <a class="nav-link" [routerLink]="[item1.menuURL]" routerLinkActive #Customer="routerLinkActive">
              <span class="menu-title">{{item1.displayName}} </span>
            </a>
            <ul class="dropdown-submenu" *ngIf="item1.children">
              <li class="nav-item" *ngFor="let item2 of item1.children">
                <a class="nav-link" [routerLink]="[item2.menuURL]" routerLinkActive #Customer="routerLinkActive">
                  <span class="menu-title">{{item2.displayName}} </span>
                </a>       
                <ul class="" *ngIf="item2.children">
                  <li class="nav-item" *ngFor="let item3 of item2.children">
                    <a class="nav-link" [routerLink]="[item3.menuURL]" routerLinkActive #Customer="routerLinkActive">
                      <span class="menu-title">{{item3.displayName}} </span>
                    </a>                
                  </li>
                </ul>         
              </li>
            </ul>
          </li>
        </ul>
      </li>     -->
    
      <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default" style="width:100%">
          <div id="main-menu" class="main-menu collapse navbar-collapse" style="width:100%">
            <ul class="nav navbar-nav" style="width:100%">
              <app-nav-menu *ngFor="let item of navItems" [item]="item" [ngClass]="{'menu-item-has-children dropdown': item && item.children.length > 0, 'menu-item-parent': item && item.children.length == 0}"></app-nav-menu>
             
            </ul>
          </div>
        </nav>
      </aside>

    </ul>
    </div>
    <div>
   
  </div>
  </ng-container>
</nav>
