<form class="pt-3">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Add Task
    </h4>
    <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="modal.dismiss('Cross click')"
      [mat-dialog-close]="true">
      <span aria-hidden="true" [mat-dialog-close]="true">×</span>
    </button>
  </div>

  <div class="row">

    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput formControlName="dateOpend" readonly required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="row">

    <mat-form-field>
      <mat-label>Job Progress Status</mat-label>
      <mat-select required formControlName="jobProgressStatusID" (change)="changeJobProgressStatus($event)">
        <mat-option *ngFor="let data of progress" [value]="data.id">
          {{data.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">

    <mat-form-field>
      <mat-label>Job Description</mat-label>
      <input matInput type="text" placeholder="Description" required formControlName="description">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="example-full-width">
      <mat-label>Status</mat-label>
      <input matInput type="text" placeholder="status" required formControlName="status">
    </mat-form-field>
  </div>

  <div>

  </div>


  <div class="modal-footer">
    <button type="submit" class="btn btn-primary mr-2" (click)="addTaskJob()">
      Add Task
    </button>
    <button class="btn btn-danger mr-2" [mat-dialog-close]="true">
      Cancel
    </button>

  </div>

</form>