<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Update Team Resource</h4>
  <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editForm" *ngIf="editForm" class="pt-3">

    <div class="col-md form-group">
      <label>Team Name*</label>
      <select formControlName="teamId" class="form-control form-control-lg" (change)="changeTeam($event)">
        <option value="" disabled selected>Select Team</option>
        <option *ngFor="let team of teams" [value]="team.id" class="form-control form-control-lg">
          {{team.name}} 
          
        </option>
      </select>
      <div *ngIf="editFormData.teamId.touched && editFormData.teamId.invalid" class="alert alert-danger">
        <div *ngIf="editFormData.teamId.errors.required">Team Name is required.</div>
      </div>
    </div>

    <div class="col-md form-group">
      <label>Resource Name*</label>
      <select formControlName="resourceId" class="form-control form-control-lg" (change)="changeResource($event)">
        <option *ngFor="let data of resources" [value]="data.id" class="form-control form-control-lg">
          {{data.name}}
        </option>
      </select>
      <div *ngIf="editFormData.resourceId.touched && editFormData.resourceId.invalid" class="alert alert-danger">
        <div *ngIf="editFormData.resourceId.errors.required">Resource Name is required.</div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" [disabled]="editForm.invalid" class="btn btn-primary mr-2"
    (click)="editTeamresource()">Update</button>

  <button [disabled]="isSubmitted" class="btn btn btn-danger" (click)="modal.close('Cancel')">Cancel</button>

</div>