<div class="mainHome">
<div class="mainBanner">
  <header>
    <div class="container">
<a href="#" class="brandLogo">
  <img src="assets/images/logo.svg"   alt="FlowVid" >
</a>
<ul>
  <li><a href="#">Service</a></li> 
  <li><a href="#">Features</a></li>
</ul>
<div class="navRight">
  <button   [routerLink]="['/user-pages/register']" 
  class="btn btn-default">Sign Up</button>
  <button  [routerLink]="['/user-pages/login']" 
  class="btn btn-primary" >Sign In</button>
</div>
</div>
  </header>
 
  <div class="bannerCaption">
    <div class="container">
      <div class="bannerDesc">
    <h2>Best way to manage your <span>Customers</span>.</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the industrys.</p>
  <p>
    <span><i class="mdi mdi-check-circle"></i> Free trial 14 days</span>
    <span><i class="mdi mdi-check-circle"></i> Free trial 14 days</span>
  </p>
  <a href="#" class="btn btn-primary">Get Started</a>
  </div>
</div>
  <div class="bannerImage">
    <img src="assets/images/homeBanner.png" />
  </div>
</div>

</div>
<div class="midSection">
  <div class="serviceCot">
<h2 class="headTitle center">Features that makes app different!</h2>
<p class="subText center">Lorem Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the industrys.</p>
<div class="serviceList">
  <div class="serviceTab">
    <img src="assets/images/support.png" />
    <h4>Secure data</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the industrys.</p>
  </div>
  <div class="serviceTab">
    <img src="assets/images/secure_data.png" />
    <h4>Automated</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the industrys.</p>
  </div>
  <div class="serviceTab">
    <img src="assets/images/live-chat.png" />
    <h4>Encrypted</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the industrys.</p>
  </div>
  <div class="serviceTab">
    <img src="assets/images/functional.png" />
    <h4>Secure data</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the industrys.</p>
  </div>
</div>  
</div>
<div class="contentSection">
  <div class="container">
  <div class="leftImage">
    <img src="assets/images/appImage.png" />
  </div>
  <div class="rightContent">
    <h2 class="headTitle">Mobile Application Services</h2>
<p class="subText">
  Lorem Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the industrys.Lorem Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the industrys.Lorem 
  Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the industrys.</p>
<ul class="featureList">
<li>
  <i class="mdi mdi-download"></i>
  <h4>17M+ <span>Download</span></h4>
</li>
<li>
  <i class="mdi mdi-message"></i>
  <h4>2300+ <span>Reviews</span></h4>
</li>
</ul>
  </div>
</div>
</div>
</div>

  <div class="subscribeCot">   <div class="container">
    <div class="subBlock">
      <h3>
        Subscribe newsletter
        <span>Be the first to recieve all latest post in your inbox</span>
      </h3>
      <div class="subForm">
        <input type="text" placeholder="Enter your Email" />
        <button type="submit" class="btn btn-white">Submit</button>
      </div>
    </div>
  </div></div>


<footer class="mainFooter">
  <p>copyright Copyright FlowVid. All right reserved</p>
</footer>
  
  
    </div>