<div class="logWrapper">
  <div class="sideArt">
   <img src="/assets/images/logo.svg" class="regLogo" alt="Logo"/>
   <div class="sideBanner">
    <img src="../../../assets/images/regBanner.svg" alt="Logo"/>
   </div>
  </div>
  <div class="sideForm">
    <form class="pt-3">
      <div class="logBtnRight">
        Already have an account? <a routerLink="/user-pages/login" class="btn btn-small">Login</a>
      </div>
    <h2>Welcome to FLowVid!</h2>
    <h4>Signing up is easy. It only takes a few steps</h4>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
      </div>
      <!-- <div class="form-group">
        <select class="form-control form-control-lg" id="exampleFormControlSelect2">
          <option>Country</option>
          <option>United States of America</option>
          <option>United Kingdom</option>
          <option>India</option>
          <option>Germany</option>
          <option>Argentina</option>
        </select>
      </div> -->
      <div class="form-group">
        <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label class="form-check-label text-muted">
          <input type="checkbox" class="form-check-input">
          <i class="input-helper"></i>
          I agree to all Terms & Conditions
        </label>
      </div>
      <div class="regBtn">
        <a class="btn btn-primary" routerLink="/dashboard">SIGN UP</a>
      </div>
      
    </form>
  </div>
</div>

