<app-jobtype-create></app-jobtype-create>


<div class="page-title">
  <h2>Jobtypes List</h2>
</div>

<h4 *ngIf="!jobtypes"><em>Loading ...</em></h4>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
       Jobtype Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
    </ng-container>

        <!-- Type Column -->
        <!-- <ng-container matColumnDef="jobtypeType">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Jobtype Type </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.jobtypeType}} </mat-cell>
        </ng-container>  -->


    
        <!-- Description Column -->
        <!-- <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Description </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>  -->

        
    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Code
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.code }} </mat-cell>
    </ng-container>

    
    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Status
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.status }} </mat-cell>
    </ng-container>

    <!-- Created Date Column -->
    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Created Date
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.createdDate | date }} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <th mat-cell *matCellDef="let row">
        <button (click)="editJobtype(row)" class="btn btn-primary">
          <i class="mdi mdi-account-plus"></i>
        </button>
        <button (click)="deleteJobtype(row)" class="btn btn-danger text-white">
          <i class="mdi mdi-delete me-2"></i>
        </button>
      </th>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>