<div class="page-header">
    <button (click)="open(mymodal)" type="button" class="btn btn-primary mr-2">
      Add Post
    </button>
  </div>
  
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Add Post
      </h4>
      <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="postForm" *ngIf="postForm" class="pt-3">
        <div class="form-group">
          <input formControlName="title" type="text" class="form-control form-control-lg" placeholder="Title*" />
          <div *ngIf="isSubmitted && f['title'].errors" class="invalid-feedback">
            <div *ngIf="f['title'].errors['required']">Title is required</div>
          </div>
  
  
          <div *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)" class="alert">
            <span>Title is required!</span>
          </div>
        </div>
        <div class="form-group">
          <input formControlName="description" type="text" class="form-control form-control-lg" placeholder="Description" />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary mr-2" (click)="addNewPost()" [disabled]="postForm.invalid">
        Create
      </button>
  
  
      <button (click)="modal.close('Save click')" type="reset" data-dismiss="modal" class="btn btn-danger">
        Cancel
      </button>
    </div>
  </ng-template>